<!DOCTYPE html>
<html>
  <head>
    <title>TrainingHabits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <!-- Compiled and minified CSS  Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
  </head>

  <body>
    <nav class="light-blue darken-4">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Training Habits</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down nav-items">
          <% if user_signed_in? %>
            <li>Logged in as <strong><%= current_user.email %></strong>.<li>
            <li> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
            <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
          <% else %>
            <li> <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
            <li> <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>
          <% end %>
          
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <% if user_signed_in? %>
        <li>Logged in as <strong><%= current_user.email %></strong>.<li>
        <li> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
        <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
      <% else %>
        <li> <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
        <li> <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>
      <% end %>
    </ul>
          

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    
    <%= yield %>

    <!-- Compiled and minified JavaScript Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
